$text-color: #ffffff;
$transparent: #D1C9F2;
$decor-font: 'Ubuntu', sans-serif;
$glass: 0.3;

body{
    background:#FBFBFB;
    overflow-x: hidden;
    @media screen and (min-width: 1000px){
        background:rgb(237, 240, 243);
    }
}
.wrapper{
    @media screen and (min-width: 1000px){
        width: 1000px;
        margin: 0 auto
    }
}
//xl-navbar
.navbar{
    color: lightgrey;
    position: fixed;
    width: 100%;
    height: 50px;
    background: black;
}
.nav-wrapper{
    width: 1000px;
    margin: 0 auto;
}
.navbar-left{
    float:left;
    padding: 1em 0;
    i{
        color: orange;
    }
    li{
        display: inline;
        padding: 0 2em;
        font-size: 0.9rem;
    }
}
.navbar-right{
    float: right;
    padding: 1em 0;
    li{
        text-transform: uppercase;
        display: inline;
        padding: 0 1em;
        cursor: pointer;
    }
    a{
        color: lightgrey;
    }
    a:hover{
        color: orange;
    }
}
//xl-navbar-end
//mobile-navbar
.nav{
    background:black;
    text-transform: uppercase;
    z-index: 1;
    width: 100%;
    position: fixed;
    color:orange;
    animation-name: OPACITY;
    animation-duration: 0.1s;
     @keyframes OPACITY{
        from { opacity: 0.1}
        to { opacity: 1}
    }
    i{
        font-size: 2rem;
        padding: .5em;    
    }
    li:last-child{
        border-bottom: 0;
    }
    li{
        color:rgb(237, 240, 243);
        list-style-type: none;
        padding: 1em .5em 1em 1em;
        border-bottom: 1px solid orange;
        &:hover{
            color: orange;
        }
    }
    @media screen and(min-width: 1000px){
        display: none;
    }
}
.nav-active{
    display: none;
    background: black;
    border-bottom: .5px solid orange;
    animation-name: OPACITY;
    animation-duration: 0.3s;
    cursor:pointer;
     @keyframes OPACITY{
        from { opacity: 0.1}
        to { opacity: 1}
    }  
}
//mobile-navbar-end
.bg-img{
    background: linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
    ),
    url(../img/header-img1.jpg) -150px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    @media screen and (min-width: 375px){
        height: 620px;
    }
    @media screen and (min-width: 400px){
        height: 670px;
    }
    
    @media screen and (min-width: 500px){
        background:rgb(237, 240, 243);
        display: none;
    }
}

.welcome-img{
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
    ),
    url(../img/r81.jpg) 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    color: #eee;
    text-align:center;
    .welcome-a{
        padding-top: 150px;
        h1 {
            color: lightgrey;
            font-size: 5rem;
            letter-spacing: 15px;
            font-family: $decor-font;
        }
        h2 {
            font-size: 2rem;
            color: orange;
            @media screen and (min-width: 500px) and (max-width: 999px){
                padding-top: .5em;
                width: 95%;
                margin: 0 auto;
            }
        }
        h3 {
            opacity: 0.8;
            padding-top: 10em;
            font-size: 1.5rem;
        }
    }
    @media screen and (max-width: 500px){
        background:rgb(237, 240, 243);
        display: none;
    }
}
.section-a{
    padding-top: 4em;
    //
    .ontop{
        position: relative;
        top: 1.6em;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.3rem;
        color: $text-color;
    }
    .bg-transparent{
        background: $transparent;
        opacity: $glass;
        height: 3em;
        width: 95%;
        margin: 0 auto;
    }
}
// specijalizovan-servis-end
.section-b{
    padding: 2em 0 0 .5em;
    height: 250px;
    @media screen and (max-width: 306px){
        padding: 4em 0 0 .5em;
    }
    //
    h2{
        color: #D4902A;
        font-size: 1.1rem;
        line-height: 2;
        letter-spacing: 6px;
        padding-left: .1em;
        @media screen and (max-width: 310px){
            font-size: 1rem;
        }
        @media screen and (min-width: 375px){
            font-size: 1.4rem;
        }   
    }
    span {
        color: $text-color;
    }
    .bg-transparent-2{
        background: #D4902A;
        opacity: $glass;
        height: 15em;
        width: 6%;
        @media screen and (max-width: 306px){
            height: 12.7em;
        }
        @media screen and (min-width: 375px){
            height: 16.5em;
        } 
        @media screen and (min-width: 400px){
            height: 19em;
        } 
    }
}
// welcome-text-end
.section-c{
    text-align: center;
    padding: 3em 0;
    @media screen and (min-width: 375px){
        padding: 5em 0;
    }
    @media screen and (min-width: 400px){
        padding: 8em 0;
    }
    .bg-transparent-3{
        background: $transparent;
        opacity: $glass;
        height: 2.1em;
        width: 35%;
        margin: 0 auto;
    }
    a {
        text-decoration: none;
    }
    h1{
        font-size: 1.1rem;
        text-transform: uppercase;
        color: $text-color;
        position: relative;
        bottom: 1.4em;
    }
}
// kontakt-end
    @media screen and (min-width: 1000px){
        .content-wrapper{
            background: #333;
            margin: 0 -100rem;
            padding: 4rem 100rem;
        }
    }
.content {
    background: #333;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr; 
    letter-spacing: 1.2px;
    line-height: 1.2;
    @media screen and (min-width: 1000px){
        grid-template-columns: 1fr 1fr 1fr;
        
    }
    .box {
        background: #333;
        width: 100%;
        margin: 0 auto;
        @media screen and (min-width: 1000px){
            background: #333;
            color: lightgrey;
        }
        i {
            font-size: 3rem;
            color: #D4902A;
            padding: .7em 0;
            @media screen and (min-width: 1000px){
                color: #D4902A;
            }
        }
        h1 {
            font-family: $decor-font;
            font-size: 1.6rem;
            text-transform: uppercase;
            padding-bottom: 1em;
            color: #D4902A;
        }
        p {
            letter-spacing: 1px;
            font-size: 1rem;
            font-weight: lighter;
            width: 75%;
            margin: 0 auto;
            padding-bottom: 1.5em;
            color: #eee;
            @media screen and (min-width: 1000px){
                text-align :left;
                color: lightgrey;
                padding-left: 3em;
            }
        }
    }
}
.description {
    background:rgb(237, 240, 243);
    padding: 4em 0;
    #ciko img{
        display: none;
    }
    @media screen and (min-width: 1000px) {
        display: grid;
        grid-template-columns: 75% 25%;
        margin: 0 -100rem;
        padding: 4em 100rem;
        box-shadow: 0px 18px 15px -19px rgba(0,0,0,0.75);
        
        #ciko img{
            display: block;
            width: 100%;
            padding-top: 3em;
        }
    }
    .text-grid {
        display: grid;
        grid-template-columns: 70% 30%;
        
        @media screen and (min-width: 1000px){
            grid-template-columns: 100%;
        }
        img { 
            padding-top: 7em;
            width: 100%;
            height: auto;
            box-shadow: 0px 18px 15px -19px rgba(0,0,0,0.2);
            @media screen and (min-width: 323px){
                padding-top: 5em;
            }
            @media screen and (min-width: 350px){
                padding-top: 5em;
            }
            @media screen and (min-width: 370px){
                padding-top: 2.5em;
            }
            @media screen and (min-width: 1000px){
              display: none;
            
            } 
        }
    }
    .txt-wrapper {
        width: 85%;
        margin: 0 auto;
        line-height: 1.2;
        @media screen and (min-width: 1000px){
            width: 100%;
        }
        h1 {
            text-transform: uppercase;
            font-family: $decor-font;
            font-size: 2rem;
            padding-bottom: 1em;
            color: #D4902A;
        }
        h3{
            font-size: 1.3rem;
            font-weight: bold;
            color: #77674F;
            padding-bottom: 1em;
        }
        p{
            width: 95%;
            padding: 1em 0;
            font-size: 1rem;
            font-weight: lighter;
            color: #77674F;
            @media screen and (min-width: 1000px){
                width: 70%;
            }
        }
        span {
            font-weight: bold;
        }   
    }
    .img {
        text-align: left;
        padding-top: 1em;
        width: 85%;
        margin: 0 auto;
        
    }
}
.gallery {
    background:rgb(237, 240, 243);
    padding: 2em 0;
    text-align: left;
    @media screen and (min-width: 1000px) {
        margin: 2em -100rem;
        padding: 3em 100rem;
        box-shadow: 0px 18px 15px -19px rgba(0,0,0,0.75);
    }
    .img-wrap {
        width: 85%;
        margin: 0 auto;
            @media screen and (min-width: 1000px){
            width: 100%;
                .gallery-grid {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }
        
        h1 {
            text-transform: uppercase;
            font-family: $decor-font;
            font-size: 2rem;
            padding-bottom: 1em;
            color: #D4902A;
        }
        p{
            width: 95%;
            font-size: 1rem;
            font-weight: lighter;
            color: #77674F;
        }
        .img-box {
             padding: 1em 0 1em 0;
             text-align: left;
             @media screen and (min-width: 1000px){
                 padding: 1em .2em;
             }
             h1 {
                font-family: $decor-font;
                font-size: 1rem;
                font-weight: lighter;
                padding: 0;
             }
             img {
                width: 100%;
            }
            p{
                font-size: 1rem;
                font-weight: lighter;
                color: #77674F;
                padding: .5em 0;
            }
        }
        .img-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-top: 0.1em;
            img{
                width: 98%;
                margin: 0 auto;
            }
        }
        span{
            padding: .5em 0;
            font-weight: bold;
            a{
                text-transform: uppercase;
                text-decoration: none;
                color:#3b5998;
            }
        }
    }
}
.modal{
    display: none;
    text-align: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(0,0,0, 0.9);
    .modal-content{
        animation-name: OPACITY;
        animation-duration: 0.3s;
        padding-top: 11em;
        margin: 0 auto;
        width: 95%;
        @keyframes OPACITY{
            from { opacity: 0.1}
            to { opacity: 1}
        }
        @media screen and (min-width: 1000px){
            padding-top: 5em;
        }
        img{
            width: 99%;
            height: auto;
            border: 2px solid white;
            @media screen and (min-width: 1000px){
                width: 50%;
            }
        }
        i{
            padding: .5em 0;
            color: white;
            font-size: 1.2rem;
        }
    }

}
.info {
    padding-top: 2em;
    background:#333;
    text-align: left;
    color: lightgrey;
    font-family: $decor-font;
    h3{
        color:#D4902A;
        font-size: 1.1rem;
        padding-top: 2em;
    }
    @media screen and (min-width: 1000px){
        background: #333;
        margin: 0 -100rem;
        padding: 4rem 100rem 0rem 100rem;
        color: #D4902A;
        p {
            color: lightgrey;
            padding: 0;
            margin: 0;
        }
    }
    i {
        padding: .5em;
    }
    .txt-wrap {
        width: 85%;
        margin: 0 auto;
        @media screen and (min-width: 1000px){
            width: 100%;
        }
    }
    h1 {
        color: #D4902A;
        font-family: $decor-font;
        font-size: 2em;
        text-transform: uppercase;
    }
    p {
        font-size: 1rem;
        font-weight: lighter;
        padding: 1em 0;
        line-height: 1.2;
    }
}
.gmaps {
    text-align: center;
    iframe{
        width: 100%;
        height: 300px;
        padding: 0;
        margin: 0;
        @media screen and (min-width: 1000px){
            height: 500px;
        }
    }
}
footer{
    background: #333;
    color: darkgrey;
    .footer-wrap{
        width: 90%;
        margin: 0 auto;
    }
    @media screen and (min-width: 600px){
        text-align: center;
    }
    li{
        font-size: 1.1rem; 
        list-style-type:none;
        padding: 1em 1em;
        a{
            color: darkgrey;
            &:hover{
                color: orange;
            }
        }
        @media screen and (min-width: 600px){
            display: inline-block;
            padding: 2em .5em;
        }
        @media screen and (min-width: 700px){
            font-size: 1.1rem;
            padding: 2em 1em; 
        }
        @media screen and (min-width: 1000px){
            padding: 2em 2.5em;
        }
    }
    p{
        font-size: .8rem;
        text-align: center;
        padding-bottom: 2em;
    }
}