html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background: #dbdbd9;
  font-family: "Work Sans", sans-serif;
  color: #eee;
}

.bg-img {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url(../img/second.jpeg) no-repeat 0;
  height: 580px;
  width: 100%;
}

@media screen and (min-width: 630px) {
  .bg-img {
    height: 720px;
  }
}

@media screen and (min-width: 1025px) {
  .bg-img {
    height: 600px;
  }
}

.bg-img .navbar-sm {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.bg-img .navbar-sm i {
  padding: .5em .8em;
  color: orange;
  font-size: 2rem;
}

@media screen and (min-width: 1025px) {
  .bg-img .navbar-sm {
    display: none;
  }
}

.bg-img .modal {
  text-align: left;
  display: none;
  position: fixed;
  z-index: 1;
  top: 8%;
  width: 30%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

@media screen and (min-width: 1025px) {
  .bg-img .modal {
    display: none;
  }
}

.bg-img .modal li {
  list-style-type: none;
  text-transform: uppercase;
  padding: 1em 1em;
  padding-top: 2em;
  color: orange;
}

.bg-img .navbar {
  width: 100%;
  height: 50px;
}

@media screen and (max-width: 1025px) {
  .bg-img .navbar {
    display: none;
  }
}

@keyframes transition {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.bg-img .nav-left {
  display: none;
  float: left;
}

.bg-img .nav-left h3 {
  font-size: 1rem;
  padding-top: .4em;
}

.bg-img .nav-left h3 span {
  color: orange;
}

.bg-img .nav-left p {
  color: orange;
  margin: 0;
  padding: 0;
  font-size: .8rem;
}

.bg-img .nav-right {
  float: right;
  padding-top: .9em;
}

.bg-img .nav-right li {
  text-transform: capitalize;
  font-size: 1.1rem;
  list-style-type: none;
  display: inline;
  padding: 0 1em;
  cursor: pointer;
}

.bg-img .nav-right li:hover {
  color: orange;
}

.bg-img .header-wrapper {
  padding: 0 0.5em;
  color: #dbdbd9;
}

@media screen and (min-width: 630px) {
  .bg-img .header-wrapper {
    padding: 0;
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1025px) {
  .bg-img .header-wrapper {
    width: 1000px;
    margin: 0 auto;
  }
}

.bg-img h2 {
  color: orange;
  padding-top: 4em;
  padding-left: .3em;
  font-size: 1.1rem;
}

@media screen and (min-width: 630px) {
  .bg-img h2 {
    padding-top: 5em;
  }
}

.bg-img h1 {
  font-size: 3rem;
}

@media screen and (min-width: 630px) {
  .bg-img h1 {
    font-size: 3.3rem;
    width: 70%;
  }
}

@media screen and (min-width: 1025px) {
  .bg-img h1 {
    font-size: 3.3rem;
  }
}

.bg-img p {
  padding-top: 3em;
  font-size: 1rem;
}

@media screen and (min-width: 372px) {
  .bg-img p {
    width: 80%;
  }
}

@media screen and (min-width: 630px) {
  .bg-img p {
    font-size: 1.2rem;
    width: 90%;
  }
}

@media screen and (min-width: 1025px) {
  .bg-img p {
    width: 600px;
  }
}

.bg-img ul {
  margin-top: 3em;
  text-transform: uppercase;
}

@media screen and (min-width: 372px) {
  .bg-img ul {
    margin-top: 4em;
  }
}

@media screen and (min-width: 630px) {
  .bg-img ul {
    margin-top: 5em;
  }
}

.bg-img ul #mod {
  background: linear-gradient(rgba(116, 110, 110, 0.383), rgba(131, 124, 124, 0.383));
  color: #eee;
}

.bg-img ul #bottom {
  color: black;
}

.bg-img ul a {
  cursor: pointer;
  text-align: center;
  display: block;
  text-decoration: none;
  background: orange;
  color: #eee;
  font-size: 1rem;
  margin: 1em 0;
  padding: .5em 0;
}

@media screen and (min-width: 630px) {
  .bg-img ul a {
    text-align: left;
    font-size: 1.2rem;
    width: 200px;
    padding: 1em 1em;
  }
}

@media screen and (min-width: 1025px) {
  .bg-img ul a {
    padding: .5em 1em;
  }
}

@media screen and (min-width: 1025px) {
  .content > div {
    padding: 50px 0;
  }
}

.content {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 1025px) {
  .content {
    grid-template-columns: 1fr 1fr;
    width: 1000px;
    margin: 0 auto;
  }
}

.content #section-a {
  margin-top: 5em;
}

.content img {
  width: 90%;
  height: auto;
  border-radius: 5px;
  -webkit-box-shadow: 0px 14px 33px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 33px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 33px 0px rgba(0, 0, 0, 0.75);
}

@media screen and (min-width: 630px) {
  .content img {
    width: 75%;
    border: 1px solid grey;
    padding: 5px;
  }
}

@media screen and (min-width: 550px) {
  .content img {
    width: 75%;
  }
}

@media screen and (min-width: 850px) {
  .content img {
    width: 50%;
  }
}

@media screen and (min-width: 1025px) {
  .content img {
    border: 1px solid grey;
    padding: 5px;
    transition: width 0.3s;
    width: 80%;
    border-radius: 5px;
  }
  .content img:hover {
    transition: width 0.2s;
    width: 85%;
  }
}

.content #section-b {
  margin-top: 1em;
  color: #333;
}

@media screen and (min-width: 1025px) {
  .content #section-b {
    margin-top: 70px;
  }
}

.content #section-b h2 {
  font-size: 1.3rem;
}

@media screen and (min-width: 630px) {
  .content #section-b h2 {
    font-size: 1.6rem;
    padding: .5em;
  }
}

@media screen and (min-width: 1025px) {
  .content #section-b h2 {
    font-size: 1.8rem;
  }
}

.content #section-b p {
  margin-top: 1em;
  font-size: 1rem;
}

@media screen and (min-width: 630px) {
  .content #section-b p {
    font-size: 1.2rem;
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1025px) {
  .content #section-b p {
    padding: 30px 0 25px 0;
    font-size: 1rem;
    width: 60%;
    margin: 0 auto;
  }
}

.content #section-b button {
  background: orange;
  border: none;
  border-radius: 2px;
  color: #333;
  font-size: .7rem;
}

@media screen and (min-width: 630px) {
  .content #section-b button {
    border-radius: 5px;
    font-size: 1rem;
    margin: .2em;
  }
}

@media screen and (min-width: 1025px) {
  .content #section-b button {
    border-radius: 5px;
    font-size: .7rem;
    margin: .5em 0;
  }
}

.bg-color {
  margin-top: 5em;
  background: orange;
}

.bg-color .skills-wrapper > div {
  padding: .5em;
}

@media screen and (min-width: 1025px) {
  .bg-color .skills-wrapper > div {
    padding: 2em;
  }
}

.bg-color .skills-wrapper {
  padding: 2em 0;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #333;
}

@media screen and (min-width: 1025px) {
  .bg-color .skills-wrapper {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
}

.bg-color i {
  font-size: 3rem;
}

@media screen and (min-width: 630px) {
  .bg-color i {
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 1025px) {
  .bg-color i {
    font-size: 5rem;
  }
}

.profile {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

@media screen and (min-width: 1025px) {
  .profile {
    width: 1000px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 3em;
  }
}

.profile img {
  width: 180px;
  height: auto;
  border-radius: 400px;
}

@media screen and (min-width: 630px) {
  .profile img {
    width: 200px;
  }
}

.profile p {
  color: #333;
  font-size: 1rem;
  margin-top: 1em;
}

@media screen and (min-width: 630px) {
  .profile p {
    font-size: 1.2rem;
  }
}

.profile h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
}

@media screen and (min-width: 630px) {
  .profile h2 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1025px) {
  .profile h2 {
    padding-top: 2.2em;
  }
}

.profile h1 {
  font-size: 1.4rem;
  padding: .3em;
}

@media screen and (min-width: 630px) {
  .profile h1 {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1025px) {
  .profile h1 {
    font-size: 3rem;
    padding: .5em;
  }
}

.profile h1 a {
  color: #333;
  text-decoration: none;
}

.profile h1 a:hover {
  transition: color 0.3s;
  color: #eee;
}

.profile h3 {
  color: #333;
  font-size: 1rem;
  padding: .5em 1em;
  padding-bottom: 2em;
}

@media screen and (min-width: 630px) {
  .profile h3 {
    font-size: 1.1rem;
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1025px) {
  .profile h3 {
    padding: 1.5em 0 0 0;
    margin: 0 auto;
  }
}

footer {
  background: #333;
  height: 160px;
  color: lightgrey;
  text-align: center;
}

footer .footer-container {
  padding-top: 2em;
}

@media screen and (min-width: 1025px) {
  footer .footer-container {
    padding-top: 3em;
  }
}

footer .footer-container a {
  font-size: 2.8rem;
  padding: .3em .4em;
  color: lightgrey;
}

@media screen and (min-width: 630px) {
  footer .footer-container a {
    padding: .8em 1.2em;
  }
}

@media screen and (min-width: 1025px) {
  footer .footer-container a {
    padding: 1em 2.3em;
  }
}

footer .footer-container a:hover {
  transition: color 0.4s;
  color: orange;
}

footer .copyright {
  font-size: .9rem;
  margin-top: 2em;
}

@media screen and (min-width: 1025px) {
  footer .copyright {
    font-size: .8rem;
  }
}
/*# sourceMappingURL=style.css.map */