body {
  background: #FBFBFB;
}

.bg-img {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/header-img.jpg) -150px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 580px;
}

@media screen and (min-width: 375px) {
  .bg-img {
    height: 620px;
  }
}

@media screen and (min-width: 400px) {
  .bg-img {
    height: 670px;
  }
}

.section-a {
  padding-top: 4em;
}

.section-a .ontop {
  position: relative;
  top: 1.6em;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: #ffffff;
}

.section-a .bg-transparent {
  background: #D1C9F2;
  opacity: 0.3;
  height: 3em;
  width: 95%;
  margin: 0 auto;
}

.section-b {
  padding: 2em 0 0 .5em;
  height: 250px;
}

@media screen and (max-width: 306px) {
  .section-b {
    padding: 4em 0 0 .5em;
  }
}

.section-b h2 {
  color: orange;
  font-size: 1.3rem;
  line-height: 2;
  letter-spacing: 6px;
  padding-left: .1em;
}

@media screen and (max-width: 306px) {
  .section-b h2 {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 375px) {
  .section-b h2 {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 400px) {
  .section-b h2 {
    font-size: 1.9rem;
  }
}

.section-b span {
  color: #ffffff;
}

.section-b .bg-transparent-2 {
  background: orange;
  opacity: 0.3;
  height: 15em;
  width: 6%;
}

@media screen and (max-width: 306px) {
  .section-b .bg-transparent-2 {
    height: 12.7em;
  }
}

@media screen and (min-width: 375px) {
  .section-b .bg-transparent-2 {
    height: 16.5em;
  }
}

@media screen and (min-width: 400px) {
  .section-b .bg-transparent-2 {
    height: 19em;
  }
}

.section-c {
  text-align: center;
  padding: 3em 0;
}

@media screen and (min-width: 375px) {
  .section-c {
    padding: 5em 0;
  }
}

@media screen and (min-width: 400px) {
  .section-c {
    padding: 8em 0;
  }
}

.section-c .bg-transparent-3 {
  background: #D1C9F2;
  opacity: 0.3;
  height: 2.1em;
  width: 35%;
  margin: 0 auto;
}

.section-c a {
  text-decoration: none;
}

.section-c h1 {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  bottom: 1.4em;
}

.content {
  margin: 3em 0;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  letter-spacing: 1.2px;
  line-height: 1.2;
}

.content .box {
  background: #FBFBFB;
  width: 100%;
  margin: 0 auto;
}

.content .box i {
  font-size: 3rem;
  color: grey;
  padding: .7em 0;
}

.content .box h1 {
  font-family: 'Black Han Sans', sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding-bottom: 1em;
  color: #D4902A;
}

.content .box p {
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  width: 75%;
  margin: 0 auto;
  padding-bottom: 1.5em;
  color: #77674F;
}

.description {
  display: grid;
  grid-template-columns: 1fr;
  padding: 4em 0;
  background: #edf0f3;
}

.description .txt-wrapper {
  width: 85%;
  margin: 0 auto;
}

.description .txt-wrapper h1 {
  font-family: 'Black Han Sans', sans-serif;
  font-size: 2rem;
  padding-bottom: 1em;
  color: #D4902A;
}

.description .txt-wrapper h3 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  color: #77674F;
  padding-bottom: 1em;
}

.description .txt-wrapper p {
  width: 95%;
  padding: 1em 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  color: #77674F;
}

.description .txt-wrapper span {
  font-weight: bold;
}

.description .img {
  text-align: center;
  padding-top: 1em;
  width: 85%;
  margin: 0 auto;
}

.description .img img {
  width: 50%;
  height: auto;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*# sourceMappingURL=style.css.map */